@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "sans";
  src: url("../4UaRrENHsxJlGDuGo1OIlJfC6l_24rlCK1Yo_Iq2vgCI.woff2");
}

body {
  font-family: "sans", sans-serif;
}
